html {
  background-image:url(background.png);background-repeat:repeat-x;  
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  
  //top: 0px;
  //right: 0px;
  //bottom: 0px;
  //left: 0px;
  //width:90%;
  // height: 100%;
  //margin: auto;
  //border:thin solid gray;
  //background-color: white;
    
  //color: #828282;
} 

a {

  //margin:10px;
  //border: thin solid gray;
  //padding: 10px;
  //width:100%;
  text-decoration:none;
  color: #70b6f8;
  font-weight:bold;
}



#frame {
  background-color:white;
  border:thin solid gray;
  width:1000px;
  margin:0 auto;
  margin-top:5px;
  height:95%;
}

#apps {
  border: thin dashed #d5d5d5;
  width:150px;
  height:100%;
  overflow:hidden;
  float:left;
}
#apps2{
  overflow:scroll;
  width:170px;
  height:120%;
}

#main {
  overflow:hidden;
  width:830px;
  height:100%;
  overflow:hidden;
  float:right;
}
  #title {
    color: #fafafa;
    background-color:green;
    border: thin solid #d5d5d5;
    
    height:100px;
    overflow:hidden;
    text-shadow: 0px 0px 10px red;
    
    background-image:url(Electronics.png);
    background-repeat:no-repeat;
  }

  #menu {
    
  }
  
  #menu ul {
      list-style:none;
  }
  
  #menu li {
      display:inline;
  }
  
  
  #menu a {
	  padding:5px;
	  color: white;
	  border: solid 1px #90d6f8;
	  background: #70b6f8;
	  background: -webkit-gradient(linear, left top, left bottom, from(#70b6f8), to(#90d6f8));
	  background: -moz-linear-gradient(top,  #70b6f8,  #90d6f8);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b6f8', endColorstr='#90d6f8');
  }
  
  #menu a:hover {
	  background: #f47c20;
	  background: -webkit-gradient(linear, left top, left bottom, from(#5096f8), to(#70b6f8));
	  background: -moz-linear-gradient(top,  #5096f8,  #70b6f8);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5096f8', endColorstr='#70b6f8');
  }
  #menu a:active {
	  color: #fcd3a5;
	  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
  }

  #header {
    height:150px;
  }
  
  #content {
    height:calc(100% - 150px - 10px);
    overflow-y:scroll;
  }
  
#apps a {
  padding:20px;
}

#apps tr {
  height:30px;
  text-align:right;
}

#debugx {
  background-color:yellow;
  border:thin solid red;
}

#log {
  border: dashed gray;
  min-height:100px;
}