html {
background-image:url(background.png);background-repeat:repeat-x;  
}

body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width:800px;
  // height: 100%;
  margin: auto;
  border:thin solid gray;
  background-color: white;
  padding: 50px;
  margin-top:20px;

  color: #828282;
} 

#header{
    border: thin solid red;
    padding : 20px;
    margin-bottom: 20px;
}

#menu{
  border: thin dashed #d5d5d5;
  padding : 20px;
  margin-bottom: 20px;
}


#content {
  border:thin dotted #d5d5d5;
  padding:20px;
 
}

a {

  margin-left:20px;
  //border: thin solid gray;
  padding: 10px;
  width:100%;
  text-decoration:none;
  color: #70b6f8;
  font-weight:bold;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}

li {
    padding-top:10px;
    padding-bottom:10px;
  
}



